.login{
	.content{
		width: 995px;
		.content-list{
			margin-top: 5px;
			height: 800px;
			.login-wrap{
				height: 420px;
				background-color: white;
				border-radius: 5px;
				.loginfrom{
					width: 500px;
					margin-left: 105px;
					padding-top: 50px;			
					.btn{
						margin-left: 70px;
					}
					.githubbtn{
						margin-left: 15px;
						margin-right: 10px;
					}
				}
			}

		}
	}
	.sidebar{
		width: 290px;
		float: right;
		.cnode{
			background-color: white;
			margin-bottom: 13px;
			border-radius: 3px;
			.inner{
				padding: 10px;
			}
		}
	}
}