.home{
	.content{
		width: 1090px;

		background-color: white;
		.content-top{
		    background-color: #f6f6f6;
		    border-radius: 3px 3px 0 0;
			ul{
				display: flex;
				padding: 10px;
			    li{
			    	margin: 0 10px;
    				color: #80bd01;
			    }
			}
		}
		.content-list{
			margin-top: 5px;
			min-height: 720px;
		}
		.pagination{
			margin-top: 20px;
			padding: 10px;
		 }
	}
	.sidebar{
		width: 290px;
		float: right;
	}
}