.user{
	.content{
		width: 995px;
		.content-top{
				.user{
					background-color: white;
				}
				
			}
		.content-list{
			margin-top: 5px;
			height: 800px;
			.cnode{
				background-color: white;
				border-radius: 3px;
				margin-top: 15px;
				.titles{
					p{
						padding: 10px;
						color:#444;
					}
				}	
			}
		}
	}
	.sidebar{
		width: 290px;
		float: right;
		.cnode{
			background-color: white;
			margin-bottom: 13px;
			border-radius: 3px;
			.inner{
				padding: 10px;
				.githubbtn{
					margin-top: 10px;
				}
			}
			.ads{
				// height: 235px;
				img{
					height: auto;
					padding-top: 5px;
					max-width: 100%;
					vertical-align: middle;
					border: 0;
				}
			}
			.titles{
				background-color:#f6f6f6;
				border-radius:  3px;
				p{
					padding: 10px;
					color:#444;
				}
			}
			.imgs{
				img{
					width: 200px;
					padding: 5px;
				}
			}
		}
	}
	
}